# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\enxy0\IdeaProjects\kek\KotlinNegaBinarySystem\.idea/dataSources/
/dataSources.local.xml
